<app-header></app-header>
<div class="container">
  <div class="row mt-3">
<div class="col-12">
  <div class="card">
    <div class="card-header bg-primary text-white"></div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
  </div>   
  </div>
  <button class="btn btn-outline-success m-1" (click)="chuyenTrang('home')">Home</button>
    <button class="btn btn-outline-success m-1"(click)="chuyenTrang('contact')">Contact</button>
    <button class="btn btn-outline-success m-1"(click)="chuyenTrang('about')">About</button> 
    <button class="btn btn-outline-success m-1"(click)="chuyenTrang('products')">Product</button> 
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <p class="col-md-4 mb-0 text-muted">© 2021 Company, Inc</p>
  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
  </a>
</footer>