<h1 class="text-center">{{title}}</h1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: auto;">
        <img src="https://cms.haivan.com/photos/tim-hieu-ve-benh-vien-115-thanh-pho-ho-chi-minh-2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color:green;">STRUCTUAL DIRECTIVE</h5>
            <app-structual></app-structual>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card" style="width: auto;">
        <img src="https://cms.haivan.com/photos/tim-hieu-ve-benh-vien-115-thanh-pho-ho-chi-minh-2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color:green;">ATTRIBUTE DIRECTIVE</h5>
            <app-attribute></app-attribute>
        </div>
      </div>
    </div>
  </div>
</div>