<h1>App Commponent</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: auto;">
                <img src="https://cms.haivan.com/photos/tim-hieu-ve-benh-vien-115-thanh-pho-ho-chi-minh-2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <app-component-to-view></app-component-to-view>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: auto;">
                <img src="https://cms.haivan.com/photos/tim-hieu-ve-benh-vien-115-thanh-pho-ho-chi-minh-2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <app-view-to-component></app-view-to-component>
                </div>
              </div>
        </div>
        <div class="mt-3 col-6">
            <div class="card" style="width: auto;">
                <img src="https://cms.haivan.com/photos/tim-hieu-ve-benh-vien-115-thanh-pho-ho-chi-minh-2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <app-two-way-binding></app-two-way-binding>
                </div>
              </div>
        </div>
    </div>
</div>