<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <table class="table table-bordered border-danger table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Title</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of todoList">
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.completed ? "Đúng":"Sai"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 ">
            <div class="border border-danger rounded p-3 ">
                <div class="mb-3">
                    <label for="" class="form-label">ID</label>
                    <input
                        type="number"
                        class="form-control"
                        placeholder="Nhập id"
                       [(ngModel)]="id"
                    />   
                </div>   
                <div class="mb-3">
                    <label for="" class="form-label">Title</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Nhập title"
                        [(ngModel)]="title"
                    />   
                </div> 
                <div class="form-check form-check-inline">
                    <input                   
                        class="form-check-input"
                        type="radio"
                        name="completed"
                        value=true
                        checked
                        [(ngModel)]="completed"
                    />
                    <label class="form-check-label" for="">Đúng</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="completed"
                        value=false
                        [(ngModel)]="completed"
                    />
                    <label class="form-check-label" for="">Sai</label>
                </div> 
                <br>
                <button class=" btn btn-success mt-1" (click)="onClick()">Nhập</button>              
            </div>  
            </div>        
    </div>
</div>