
<h3 class="text-bg-danger text-center">Dữ liệu từ child component FullName: {{fullname}}</h3>
<h3 class="text-bg-danger text-center">Dữ liệu từ child component Phone: {{phone}}</h3>
<div class="container" style="margin: 30px;">
  <div class="row">
    <div class="col-6" >
        <app-child [married]="isMarried"
        [age]="age"
        [name]="'Nguyễn Hoàng Hiệp'"
        (fullname)="onGetFullName($event)"
        (phone)="onGetPhone($event)"></app-child>
    </div>
    <div class="col-6">
      <app-user-listview
      [users]="users"
      [fullname]="fullname"
      [phone]="phone"></app-user-listview>
  </div>
  </div>
</div>